.first_table{
    border-collapse: collapse;
    border-width: 1px;
    width: 100%;
    height:100%;
    
}
.second_table {
    border-collapse: collapse;
    border-width: 10px;
    width: 95%;
    height: 100%;
    
}
.second_table td{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    border:1px solid darkblue;
    text-align: center;
}
.first_table td {
    padding-left: 11px;
    padding-right:12px;
    padding-bottom:11px;
    padding-top:8px;
    border:1px solid darkblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}
