table{
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    
}
td,th {
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    border:1px solid darkblue;
}

